*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: blanchedalmond;
    text-align: center;
    text-decoration-style: solid;
}

h1{
    padding-top: 5%;
}
p{
    padding-top: 3%;
}