* {
  padding: 0%;
  margin: 0%;
}
h1 {
  position: relative;
  margin-top: 5%;
  margin-left: 46%;
  color: #a85a19;
  font-size: 25px;
  /* background-color: brown; */
  border-radius: 5px;
  border: 2px solid red;
  border-color: 2px solid blueviolet;
  font-weight: bold;
  width: 95px;
  text-align: center;
  height: 35px;
  /* cursor: pointer; */
  padding-top: 10px;
}
#reg {
  background-color: green;
  height: 500px;
}
#form {
  position: absolute;
  margin-top: 3%;
  background-color: #40929c;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 37%;
  border-radius: 7px;
}
.edt {
  border: 3px solid teal;
  width: 200px;
  height: 20px;
  padding: 10px;
  margin-top: 2px;
  border-radius: 6px;
}
.edt:hover {
  border-color: brown;
}
body {
  background-color: #37bbf8;
}
.submit {
  width: 70px;
  height: 25px;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #1bb997;
  color: white;
  margin-left: 18px;
}
.submit:hover {
  background-color: #0c7a3d;
}
