.color{
    background-color: blue;
    width: 75%;
    height: 25VH;
    float:right ;
    line-height: 130px;
    text-align: center;
    font-size: 25px;
    color: firebrick;
    font-weight: bold;
}
.busreserve{
    font-size: 24px;
     position: relative;
    margin-left: 45%;
     font-weight: bold;
    text-align: center;
    background-color:mediumpurple;
}
.row{
   margin-top: 30px;
   font-size: 18px;
   margin-right: 50%;
   font-weight: normal;
}
.col{
    display: inline;
    margin-left: 10px;
    
}
.col1{
 margin-left: 9px;
    width: 70px;  
}
.col2{
    margin-left: 2px;
       width: 90px;
        
   }
   .col3{
    margin-left: 4px;
       width: 70px;  
   }
   .col4{
    margin-left: 4px;
       width: 40px;  
   }
   .col5{
    margin-left: -15px;
       width: 40px;  
   }
   .col6{
    margin-left: 4px;
       width: 40px;  
   }
.image{
    background-color: coral;
    width: 100%;
    height: 94vh;
    font-weight: bold;
    font-size: 18px;
text-align: center;
}
button{
    margin-right: 45%;
    margin-top: 20px;
    border: 2px solid blue; 
}
.bank{
    position: relative;
    bottom: 500px;
    left: 50%;
}
.col7{
    position: relative;
    bottom: 480px;
    left: 31vw;
}
.bankname{
    position: relative;
    bottom: 465px;
    left: 25vw;
}
.cradit{
    position: relative;
    bottom: 84vh;
    left: 19px;
    font-weight: normal;
margin-right: 100px;
}

 .credit{
    position: relative;
    bottom: 84vh;
   
    
    
}
.text{
    
    width: 60px;
    position: relative;
    bottom: 20px;
    left: 90px;
    
}
.check{
    position: relative;
    bottom: 65vh;
    left: 49%;
    border-radius: 2px solid blue;
}
.check:hover{
    background-color: aqua;
    transition: 3s;
}
.Reserve{
    position: relative;
    bottom: 65vh;
    left: 5%;
  
}
.Exit{
    position: relative;
    bottom: 72vh;
    left: 60%;
}